
.row-summary1 {
	cursor: default;
    border: 1px solid #ededed;
    border-top-color:#fff;
	background-color:#e8e8e8;
}

.valign-top {vertical-align:top;}
.width100p {width:100%}


.empPanel {margin-top:10px;}
/* Clean up paddings*/
.empPanel .x-panel-ml {padding-left:2px;}
.empPanel .x-panel-mr {padding-right:2px;}
.empPanel .x-panel-bl {padding-left:2px;}
.empPanel .x-panel-br {padding-right:2px;}
.empPanel .x-panel-body {background:white;}
.empPanel .x-panel-mc {padding-top:0px;}
.empPanel .x-panel-bc .x-panel-footer {padding-bottom:2px;}
.empPanel .x-panel-nofooter .x-panel-bc {height:2px;}