.toto_games_table td {padding: 3px 4px 0 0; text-align: center}
.toto_p5 {padding:5px; !important; }
.toto_mr25 {margin-right:25px;}
.toto_inp50 {width:50px; margin-right:8px; margin-top:3px; !important; }
