
.rtl {direction:rtl}
.ltr {direction:ltr}


/* DatePicker */
.x-date-picker table {direction:rtl}
.x-date-right a {background-image: url(../images/default/shared/left-btn.gif);}
.x-date-left a {background-image: url(../images/default/shared/right-btn.gif);}
.x-date-mp-ybtn a.x-date-mp-prev {background-position:0 -120px;}
.x-date-mp-ybtn a.x-date-mp-prev:hover {background-position:-15px -120px;}
.x-date-mp-ybtn a.x-date-mp-next {background-position:0 -105px;}
.x-date-mp-ybtn a.x-date-mp-next:hover {background-position:-15px -105px;}


/* Panel */
.x-panel-header {direction:rtl}
.x-tool{float:left; margin-left:0; margin-right:2px; }
.x-panel-inline-icon { margin-right:0; margin-left:3px; }


/* Menu */
.x-menu {background:#f0f0f0 url(../images/default/menu/menu-rtl.gif) repeat-y right top; }
a.x-menu-item { padding:3px 25px 3px 1px;  text-align:right;}
/*.x-menu-list-item a.x-menu-item {padding:3px 25px 3px 1px; }*/
/*.ext-ie .x-menu a.x-menu-item { display:block; }*/
.x-menu-item-text {direction:rtl;}
/*.ext-ie .x-menu-list-item {text-align:right;}*/

.x-menu-item-icon {margin:0 0 0 8px; left:auto; right:1px;}
.ext-ie .x-menu-item-icon, .ext-ie6 .x-menu-item-icon {left:auto; right:4px;}
.ext-strict .x-menu-item-icon {left:auto; right:4px;}

/*.ext-ie .x-menu-item-icon {right:3px; }*/


.x-menu-item-arrow{background:transparent url(../images/default/menu/menu-parent-rtl.gif) no-repeat left;}


/* Window */
.x-window-header {direction:rtl}
.x-window-body {direction:rtl}
.x-panel-tl .x-panel-icon, .x-window-tl .x-panel-icon {
	padding-right:20px !important; padding-left:0px !important;
	background-position:right 5px;
	margin-right:3px; margin-left:3px;
}


/* Grid */
.x-grid3-cell {direction:rtl;}
/*.x-grid3-body {text-align:left;}*/
.x-grid3-hd-btn { left:0; right:auto; background:#C3DAF9 url(../images/default/grid/grid3-hd-btn-rtl.gif) no-repeat scroll left center; }
.x-grid3-cell-inner, .x-grid3-hd-inner { padding:2px 2px 2px 3px;  }
.x-grid-group-hd { border-bottom:1px solid #eeeeee; padding-top:4px; }
.x-grid-group-hd div.x-grid-group-title {background-position:right 5px; text-align:right; padding:4px 13px 4px 4px; direction:rtl; font-weight:normal; }
/*.x-grid-group-collapsed .x-grid-group-hd div { background-position:right 5px; }*/
.x-grid3-row td {line-height:16px}
.x-grid3-cell-inner {padding:1px}
/*.x-grid3-header-offset {text-align:right}*/
.x-grid3-row td, .x-grid3-summary-row td { font-family:tahoma, arial, verdana, sans-serif; }
.x-grid3-sort-icon {display:inline}


/* Toolbar */
.x-toolbar-cell, .xtb-text {font:normal 11px tahoma,arial,helvetica,sans-serif !important;}
.xtb-text {direction:rtl}
.x-toolbar td {padding-top:0; padding-bottom:0;}
/* Toolbar - invert right & left side of panel */
.x-toolbar-left {direction:rtl; text-align:right;}
.x-toolbar-left .x-toolbar-cell {direction:ltr}
.x-toolbar-right {direction:rtl; text-align:left;}
.x-toolbar-right .x-toolbar-right-ct {margin-right:auto}



/* Pagin Toolbar */
.x-panel-bbar .x-toolbar, .x-tab-panel-tbar .x-toolbar {direction:rtl;}
.x-tbar-page-first{background-image:url(../images/default/grid/page-last.gif)!important;}
.x-tbar-page-last{background-image:url(../images/default/grid/page-first.gif)!important;}
.x-tbar-page-next{background-image:url(../images/default/grid/page-prev.gif)!important;}
.x-tbar-page-prev{background-image:url(../images/default/grid/page-next.gif)!important;}
.x-item-disabled .x-tbar-page-first{background-image:url(../images/default/grid/page-last-disabled.gif)!important;}
.x-item-disabled .x-tbar-page-last{background-image:url(../images/default/grid/page-first-disabled.gif)!important;}
.x-item-disabled .x-tbar-page-next{background-image:url(../images/default/grid/page-prev-disabled.gif)!important;}
.x-item-disabled .x-tbar-page-prev{background-image:url(../images/default/grid/page-next-disabled.gif)!important;}



/* TabPanel */
.x-tab-panel {direction:ltr}
ul.x-tab-strip {width:100%; direction:ltr;}
ul.x-tab-strip li {float:right; margin-left:0; margin-right:2px;}
ul.x-tab-strip li.x-tab-edge {float:right}
.x-tab-strip span.x-tab-strip-text{direction:rtl}
.ext-ie .x-tab-strip span.x-tab-strip-text{width:1%}
.x-tab-strip .x-tab-with-icon span.x-tab-strip-text {
	background-position:right 3px;
	background-repeat:no-repeat;
	padding-left:0; padding-right:20px;
}

/* Other */
th {font-weight:bold;}
caption, th {text-align:center;}
.bold, .bold * { font-weight:bold; }
.x-window-dlg .ext-mb-textarea{font:normal 11px tahoma,arial,helvetica,sans-serif;}
.x-tip .x-tip-body, .x-tip .x-tip-header {direction:rtl; text-align:right;}
.x-column {float:right}


/* ==== Forms === */
.x-form-field{ font:normal 11px tahoma,arial,helvetica,sans-serif;}
.x-form-item { font:normal 11px tahoma,arial,helvetica,sans-serif; zoom:1; }
.x-form-grow-sizer{font:normal 11px tahoma,arial,helvetica,sans-serif;}
.ext-safari .x-small-editor .x-form-field{font:normal 11px arial,tahoma,helvetica,sans-serif;}
.x-combo-list-item {direction:rtl; font:normal 11px tahoma,arial,helvetica,sans-serif; padding:1px;}
.x-combo-list-inner {direction:rtl}
.x-form-clear-left {clear:right;}

.x-small-editor .x-form-text,  .x-form-text {direction:rtl; height:18px; line-height:15px; }
.ext-strict .x-small-editor .x-form-text { height:14px !important; }
.x-form-text, textarea.x-form-field {padding:1px 2px 0 0;}
.ext-ie .x-form-text {height:18px; line-height:15px;}
.ext-ie8 .x-form-text {padding-top:1px;}
.ext-safari .x-form-text{height:18px;}
.ext-safari .x-form-field-wrap .x-form-trigger{height:17px; left:0;}
.x-form-field-wrap {margin-left:auto; direction:rtl; text-align:right;}

.ext-border-box .x-small-editor .x-form-text {height:18px;}

.x-small-editor .x-form-field-wrap .x-form-trigger{height:17px; left:0;}
.x-form-field-wrap .x-form-trigger {height:17px; background-image:url(../images/default/form/trigger-rtl.gif);}
/*  background:transparent url(../images/default/form/trigger-rtl.gif) no-repeat scroll 0 0; */
.x-form-field-wrap .x-form-date-trigger {background-image:url(../images/default/form/date-trigger-rtl.gif);}
.x-form-field-wrap .x-form-search-trigger{background-image:url(../images/default/form/search-trigger-rtl.gif);}
.x-form-field-wrap .x-form-clear-trigger{background-image:url(../images/default/form/clear-trigger-rtl.gif);}


.x-form-check-wrap {direction:rtl}
.x-form-cb-label {zoom:1; margin-left:0; margin-right:2px;}
.ext-ie6 .x-form-check-wrap input, .ext-border-box .x-form-check-wrap input {margin-top:5px}

.x-table-layout label {zoom:1; text-align:left; }
.x-form-item label.x-form-item-label {direction:rtl; float:right; clear:right; padding:3px 0 3px 0; zoom:1}
.x-form-label-top .x-form-item label{margin-bottom:0; padding-bottom:0;}
.x-form-label-top .x-form-element {padding-top:2px;}

.x-form-element, .ext-ie .x-form-element { padding-left:0 !important; text-align:right; }

.ext-ie6 .x-form-text {position:relative; top:-1px;}
.ext-ie7 .x-form-text {position:relative; margin:0}

.x-form-invalid-icon {left:0px !important; _left:-20px !important}



/* Form.FileField */
.x-form-file-wrap { position:relative; height:20px; direction:rtl; margin-left:auto; }
.x-form-file-wrap .x-form-file { position:absolute; left:0; -moz-opacity:0; filter:alpha(opacity:0); opacity:0; z-index:2; height:20px; }
.x-form-file-wrap .x-form-file-text { position:absolute; right:0; z-index:3; color:#777; margin-top:1px }
.x-form-file-wrap .x-form-file-btn { position:absolute; left:0; z-index:1; }
.x-form-file-wrap .x-form-file-btn .x-btn-text { height:13px; }
.ext-ie .x-form-file-wrap .x-btn button {padding-top:0; padding-bottom:0;}


/* Button */
.x-toolbar-ct {direction:rtl}
.x-btn, .x-btn-wrap {direction:ltr !important}
.x-btn-text {zoom:1}
.x-btn-text-icon .x-btn-icon-small-left .x-btn-text {background-position:right center; padding-left:0; padding-right:18px;}
.x-btn button {font:normal 11px tahoma,arial,helvetica,sans-serif; padding-bottom:2px; }
/*.x-btn-text-icon .x-btn-with-menu .x-btn-center em {background-position:left 3px;}
.x-toolbar .x-btn-with-menu .x-btn-center em {padding-left:8px; padding-right:0px;}
.x-btn-text-icon .x-btn-center .x-btn-text {background-position:right 2px; padding:3px 16px 2px 0; }
.ext-ie .x-btn-text-icon .x-btn-center .x-btn-text { padding:3px 18px 2px 0; }
*/



/*
.ext-ie .x-form-text {position:relative;}
.ext-ie7 .x-table-layout-cell .x-form-trigger {top:-1px;}
.ext-ie6 .x-table-layout-cell .x-form-trigger {top:0;}
*/

/*
.ext-ie .x-toolbar-cell .x-form-text {top:0;}

.ext-ie7 .x-form-element .x-form-text {position:relative}
.ext-ie7 .x-form-field-wrap {zoom:1}
.ext-ie7 .x-form-field-wrap .x-form-text {position:relative}
.ext-ie7 .x-window .x-form-field-wrap .x-form-trigger {top:-1px}
*/

/*
.ext-ie7 .x-form-field-wrap {zoom:1}
, .ext-ie7 .x-form-field-wrap .x-form-text, .ext-ie7 .x-form-field-wrap x-form-trigger {position:relative;}*/
/*.ext-ie7 .x-form-field-wrap {padding-right:0 !important; padding:1px 0; border:1px dotted red }*/
/*


.x-panel-body {direction:ltr}
.x-panel-btns{direction:rtl}
.x-panel-btn-td{direction:ltr}



.x-paging-info { left:8px; right:auto; }

.x-menu {background:#f0f0f0 url(../images/default/menu/menu-rtl.gif) repeat-y right top; }
.x-menu a.x-menu-item { padding:3px 25px 3px 1px; }
.x-menu-list-item a.x-menu-item {direction:rtl; padding:3px 25px 3px 1px; }
.ext-ie .x-menu a.x-menu-item { display:inline-block; }
.ext-ie .x-menu-list-item {text-align:right;}

.x-menu-item-icon {margin:0 0 0 8px; left:auto; right:1px;}
.ext-ie .x-menu-item-icon {right:3px; }

.x-menu-item-arrow{background:transparent url(../images/default/menu/menu-parent-rtl.gif) no-repeat left;}


.ext-mb-content {direction:rtl;}

*/