
img {border:0; -ms-interpolation-mode:bicubic;}
body,form {margin:0}
body, table, input, button, select, textarea { font-size:11px; font-family: Tahoma, Arial, Helvetica }
.fieldFocusCls { background:#ffff80; }
.alignCenter div { margin:0 auto; }
.test { background-size: 100% 100% !important;background-image: url(pict/vat_refund1.jpg) !important;background-repeat: no-repeat;}
.x-tree-node-blue {background:#c6d9f1;}
.x-tree-node-green {background:#8DFB7C}
.x-tree-node-main-green {color:#55EC3D; font-weight: bold; font-size: 12px}
.x-tree-node-purple {background:#C68BFA} 
.x-tree-node-main-purple {color:#C68BFA; font-weight: bold; font-size: 12px} 
.x-tree-node-red  {background:#f2dbdb;}
.x-tree-node-yellow  {background:#ffec00;}
.x-tree-node-notPayed{color:#FF1919; font-weight: bold; font-size: 12px}
.x-prevPeriodsTitle{color:#FF1919; font-weight: bold; font-size: 18px}
.x-prevPeriodsButt{font-weight: bold; font-size: 20px;}
.prevPeriodsBack {background-color: #C4CAFF; }
.x-tree-node-payed{color:#C68BFA; font-weight: bold; font-size: 12px}
.cash-node-group1 {font-weight:bold;}
.cash-node-group2 {font-weight:bold; font-size:12px;}
.income_column {color:#04B404;font-weight: bold;text-align: center;}
.expenseColumn {color:#C68BFA; font-weight: bold;text-align: center;}
.unpayed {color:#FF0000;font-weight: bold}
.comboClass {font-size: 20px; font-weight: bold;}
/*
.x-tree-selected {background-image:url(tree-node-selected.gif) !important; background-position:bottom !important;  background-repeat: repeat-x;}
*/
.x-tree-selected td {border-top: 1px ridge blue !important; border-bottom: 1px ridge blue !important;}
.grid-icon { background-image:url(images/grid16x16.gif) !important; }
.x-btn-large .grid-icon { background-image: url(images/grid32x32.gif) !important; }
.demo-grid-shortcut { background-image: url(images/grid48x48.png) !important; }
.subminBtn {font-size: 30px; font-weight:bold;}
/* Module Icons */
.config-shortcut { background-image: url(pict/config64.png) !important; }

.config { background-image: url(../modules/config/pict/config16.png) !important; }
.config-shortcut { background-image: url(../modules/config/pict/config64.png) !important; }

.expenses-shortcut { background-image:url(pict/shopping64.png) !important; }
.emailconf-shortcut { background-image:url(pict/images.png) !important;}
.worktime { background-image:url(../modules/departments/worktime16.png) !important; }
.worktime-shortcut { background-image: url(../modules/departments/worktime48.png) !important; }

.companies { background-image:url(icons/admin16.png) !important; }
.companies-shortcut { background-image: url(../skin/icons/admin64.png) !important; }

.accounting { background-image: url(../modules/accounting/pict/accounting16.png) !important; }
.accounting-shortcut { background-image: url(../modules/accounting/pict/accounting64.png) !important; }

.lawyers { background-image: url(../modules/lawyers/pict/lawyers16.png) !important; }
.lawyers-shortcut { background-image: url(../modules/lawyers/pict/lawyers64.png) !important; }

.tasks { background-image:url(../modules/tasks/tasks16.png) !important; }
.tasks-shortcut { background-image: url(../modules/tasks/tasks64.png) !important; }

.fax-shortcut { background-image: url(../modules/fax/fax64.png) !important; }

.users { background-image:url(../modules/users/pict/users16.png) !important; }
.users-shortcut { background-image:url(../modules/users/pict/users64.png) !important; }

.toto { background-image:url(../modules/toto/toto16.png) !important; }
.toto-shortcut { background-image: url(../modules/toto1/toto64.png) !important; }

.company { background-image: url(../modules/companies/pict/company16.png) !important; }
.company-shortcut { background-image: url(../modules/companies/pict/company64.png) !important; }

.files { background-image: url(../modules/files/pict/files16.png) !important; }
.files-shortcut { background-image: url(../modules/files/pict/files64.png) !important; }



.waretypes-shortcut { background-image: url(pict/shoppingcart64.png) !important; }
.accounts-shortcut { background-image: url(pict/bank64.png) !important; }
.account { background-image: url(pict/bank16.png) !important; }
.groups-shortcut { background-image: url(../modules/groups/groups48.png) !important; }
.clientgroups-shortcut { background-image: url(pict/clientgroups48.png) !important; }

.x-btn-large .worktime { background-image:url(../modules/departments/worktime32.png) !important; }

/* ICONS */
.grid		{background-image:url(icons/grid.gif) !important;}
.link_ad	{background-image:url(icons/link.gif) !important;}
.edit 		{background-image:url(icons/edit.gif) !important;}

.user_open	{background-image:url(icons/user_open.gif) !important;}
.user_edit	{background-image:url(icons/user_edit.gif) !important;}
.user_add	{background-image:url(icons/user_add.gif) !important;}
.user_del	{background-image:url(icons/user_del.gif) !important;}
.user_restore {background-image:url(icons/recycle_restore.png) !important;}

.new_win	{background-image:url(icons/new_win.gif) !important;}
.delete		{background-image:url(icons/delete.gif) !important;}
.mail_add	{background-image:url(icons/mail-send.gif) !important;}
.mail		{background-image:url(icons/mail.gif) !important;}
.mail_yellow{background-image:url(icons/mail_yellow.gif) !important;}
.email		{background-image:url(icons/email.gif) !important;}
.meeting_add{background-image:url(icons/add_meeting.png) !important;}
.handshake	{background-image:url(icons/handshake.png) !important;}
.email_yellow{background-image:url(icons/email_yellow.gif) !important;}
.post_add	{background-image:url(icons/mail-send.gif) !important;}
.treated	{background-image:url(icons/enable.gif) !important;}
.not_treated{background-image:url(icons/waiting.gif) !important;}
.contact_add{background-image:url(icons/add_call.png) !important;}
.trash		{background-image:url(icons/trash16.gif) !important;}
.restore	{background-image:url(icons/recycle_restore.png) !important;}
.filter		{background-image:url(icons/filter.gif) !important;}
.claim		{background-image:url(icons/claim.png) !important;}
.add_claim	{background-image:url(icons/add_claim.png) !important;}
.task 		{background-image:url(icons/tasks.gif) !important;}
.add		{background-image:url(icons/add.gif) !important;}
.add_car	{background-image:url(icons/add_car.gif) !important;}
.client		{background-image:url(icons/user.gif) !important; background-position: right top; background-repeat: no-repeat;}
.client-female		{background-image:url(icons/user-female.gif) !important;}
.client-business	{background-image:url(icons/user_business.gif) !important;}
.police_add 		{background-image:url(icons/add_police.png) !important;}
.police_erase 		{background-image:url(icons/delete.gif) !important;}
.other_police 		{background-image:url(icons/list.gif) !important;}
.link_add 			{background-image:url(icons/link.gif) !important;}
.migun_car			{background-image:url(icons/key.gif) !important;}
.oraat_keva			{background-image:url(icons/tofes.gif) !important;}
.page_add 			{background-image:url(icons/page_add.gif) !important;}
.send_sms 			{background-image:url(icons/sms.gif) !important;}
.fax 				{background-image:url(icons/fax.gif) !important;}
.fax-send			{background-image:url(icons/fax-send.gif) !important;}
.fax_add	{background-image:url(icons/fax.gif) !important;}
.birthbay	{background-image:url(icons/cake.gif) !important;}
.edit 		{background-image:url(icons/edit.gif) !important;}
.user_open	{background-image:url(icons/user_open.gif) !important;}
.report 	{background-image:url(icons/report.gif) !important;}
.agent 		{background-image:url(icons/user.png) !important;}
.group 		{background-image:url(icons/users.gif) !important;}
.excel		{background-image:url(icons/files/xls.gif) !important;}
.hash		{background-image:url(icons/hash16.png) !important;}
.outlook	{background-image:url(icons/outlook.gif) !important;}
.stickers	{background-image:url(icons/stickers.gif) !important;}
.print		{background-image:url(icons/print.gif) !important;}
.start32		{background-image:url(icons/start32.png) !important;}
.graph		{background-image:url(icons/graph.jpg) !important;}
.cols-icon	{background-image:url(extjs/resources/images/default/grid/columns.gif) !important;}
.status1	{background-image:url(icons/no.gif) !important;}
.status2	{background-image:url(icons/yes.gif) !important;}
.status3	{background-image:url(icons/waiting.gif) !important;}
.cheque		{background-image:url(icons/cheque.png) !important;}
.ccard		{background-image:url(icons/credit_card.png) !important;}
.money 		{background-image:url(icons/money.gif) !important;}
.safebox 	{background-image:url(icons/safebox.png) !important;}
.recycle_rep{background-image:url(icons/recycle_rep.png) !important}
.user		{background-image:url(icons/user.gif) !important;}
.email		{background-image:url(icons/email.gif) !important;}
.emails		{background-image:url(icons/emails.gif) !important;}
.call_rep 	{background-image:url(icons/call_rep.png) !important;}
.other		{background-image:url(icons/list.gif) !important; background-repeat:no-repeat !important; background-position:98% 50% ! important; padding-right: 18px;}
.close_period { background-image: url(../modules/accounting/pict/lock16.png) !important; }

.client_info 		{border-collapse:collapse }
.client_info td 	{border: 1px solid white; }


.aaa {background-color:#DBEAFD; text-align:center}
.bbb {background-color:#CADDF5; text-align:center}


/* Upload field 
.x-form-file-wrap { position:relative; height:22px; direction:rtl; margin-left:auto; }
.x-form-file-wrap .x-form-file { position:absolute; left:0; -moz-opacity:0; filter:alpha(opacity:0); opacity:0; z-index:2; height:22px; }
.x-form-file-wrap .x-form-file-btn { position:absolute; left:0; z-index:1; }
.x-form-file-wrap .x-form-file-text { position:absolute; right:0; z-index:3; color:#777; margin-top:2px }
*/

.tip-table td, .tip-table th {font-family:Arial}
.tip-table th {font-weight:bold; text-align:right;}

/*.x-btn td {text-align:right;}*/
.btnRight .x-btn-mc {text-align:right;}

.ux-icon-combo-icon {background-repeat: no-repeat; background-position:98% 50%; width:18px; height:16px; }
.x-icon-templates {background-position:right center;}
/* X-BROWSER-WARNING: this is not being honored by Safari */
.ux-icon-combo-input {padding-right:20px;}
.x-form-field-wrap .ux-icon-combo-icon {top:1px; right:3px;}
.ux-icon-combo-item {height:18px; direction:rtl; background-repeat: no-repeat ! important;background-position:98% 50% ! important; padding-right:24px ! important;}
.x-form1 {width:100%;}
.prod-rep .x-grid3-row-last {border-left:1px solid #fff;border-right:1px solid #fff;color:#333;background: #f1f2f4;}
.prod-rep .x-grid3-row-last .x-grid3-cell-inner {font-weight:bold;padding-bottom:4px;}


/*** crm-files - docs_list() ***/
.x-grid-group-hd { border-bottom:1px solid #eeeeee; padding-top:4px; }
.x-grid-group-hd div {
	background-position:right -44px;
	text-align:right;
	padding:4px 13px 4px 4px;
	direction:rtl;
	font-weight:normal;
}
.x-grid-group-collapsed .x-grid-group-hd div { background-position:right 5px; }
.x-panel-header { direction:rtl; }
.bold, .bold * { font-weight:bold; }

.x-grid3-row td {line-height:16px}
.x-grid3-cell-inner {padding:1px}


.b-action {background-color:transparent;background-position:center;background-repeat:no-repeat;height:16px;width:16px;cursor:pointer;margin-left:2px;padding:0;border:0;}

.scan {background-image:url(icons/scan.gif) !important;}
.upload {background-image:url(icons/upload.gif) !important;}
.download {background-image:url(icons/save.gif) !important;}
.save {background-image:url(icons/save.gif) !important;}
.edit_file {background-image:url(icons/edit_file.gif) !important;}
.preview {background-image:url(icons/preview.gif) !important;}


.x-column-tree .x-tree-node {margin-bottom:1px;}
.x-column-tree .x-tree-node, .x-column-tree .x-tree-node-el { zoom:1; }
.x-column-tree .x-tree-selected { background: #d9e8fb; }
.x-column-tree  .x-tree-node a { line-height:16px }
.x-column-tree  .x-tree-node .x-tree-selected a span{ background:transparent; color:#000; }
.x-tree-col { direction:rtl; float:right; overflow:hidden; padding:0 1px; zoom:1; }
.x-column-tree .x-tree-selected { background: #d9e8fb; }

.x-tree-col-text, .x-tree-hd-text {	direction:rtl;	overflow:hidden; -o-text-overflow:ellipsis; text-overflow:ellipsis; white-space: nowrap; }
.x-tree-headers { cursor:default; zoom:1; background: #f9f9f9 url(extjs/resources/images/default/grid/grid3-hrow.gif) repeat-x 0 bottom; }
.x-tree-hd { float:right; overflow:hidden; border-left:1px solid #d0d0d0; border-right:1px solid #eee; }
.x-tree-headers .x-tree-hd .x-tree-hd-text { padding:3px 3px 3px 5px; }
/*
.x-tree-node-leaf .x-tree-node-icon { background-image:url(icons/folder.gif) !important; background-repeat:no-repeat;}
*/
.x-tree-node-collapsed .x-tree-node-icon, .x-tree-node-expanded .x-tree-node-icon { background-image:url(icons/folder.gif ) !important; background-repeat:no-repeat; }
.x-tree-node-collapsed .x-tree-node-icon, .x-tree-node-expanded .x-tree-node-icon, .x-tree-node-leaf .x-tree-node-icon { width:16px !important; height:16px !important; }


.file_icon {width:16px; height:16px; vertical-align:top;}
.span_icon {height:16px; line-height:16px; padding-right:18px; background-repeat:no-repeat; background-position:top right; zoom:1; display:-moz-inline-stack;}
.file_pdf {background-image:url(icons/files/pdf.gif) !important;}
.file_doc {background-image:url(icons/files/doc.gif) !important;}
.file_xls {background-image:url(icons/files/xls.gif) !important;}
.file_ppt {background-image:url(icons/files/ppt.gif) !important;}

.file_jpg {background-image:url(icons/files/jpg.gif) !important;}
.file_gif {background-image:url(icons/files/gif.gif) !important;}
.file_png {background-image:url(icons/files/png.gif) !important;}
.file_tif {background-image:url(icons/files/tif.gif) !important;}

.file_rar {background-image:url(icons/files/rar.gif) !important;}
.file_zip {background-image:url(icons/files/zip.gif) !important;}
.file_exe {background-image:url(icons/files/exe.gif) !important;}
.file_msg {background-image:url(icons/files/msg.gif) !important;}
.file_other {background-image:url(icons/files/other.gif) !important;}

/*** FAX ***/
/*.trash {background-image:url(icons/trash.gif) !important;}*/

.folder-in {background-image:url(icons/folder-in.gif) !important;}
.folder-out {background-image:url(icons/folder-out.gif) !important;}

.user-link {background-image:url(icons/user_link.gif) !important;}

.save {background-image:url(icons/save.gif) !important;}

.msg .x-box-mc { font-size:12px; direction:rtl; }
#msg-div { position:absolute; left:35%; top:10px; width:250px; z-index:20000; }

.faxerror, .faxerror * { color:#a80000; }

.mail_send {background-image:url(icons/mail-send.gif) !important;}


.x-form-htmlcombo {
	background-color:#FFF;
	/* background-image:url(resources/images/default/form/text-bg.gif); */
	border-color:#B5B8C8;
	height:16px;
	padding-right:1px;
	line-height:14px;
	border:1px solid;
	border-color:#B5B8C8;
	overflow:hidden;
}
.x-form-htmlcombo.x-form-focus { border-color:#7EADD9; }
.x-form-htmlcombo img, .x-htmlcombo-list img { vertical-align:-3px; }
.x-htmlcombo-list .x-combo-list-item { height:16px; _height:17px; line-height:14px; padding:0; }

.valign-top {vertical-align:top;}
.width100p {width:100%}

.t_accounting {width:100%;}
.t_accounting tr{text-align:center; padding:5px;font-weight:bold;font-size:14px;}
.t_accounting td{border-bottom:1px solid gray;}

.p_tax {text-align:center;color:blue;font-weight:bold;font-size:14px;}
.t_tax {direction:rtl; width:50%}
.t_tax th{width:50%; text-align:left; padding-left:7px;}
.t_tax td{direction:ltr;text-align:right;}

.td_on {font-size:16px;background-color:#F2F2F2}
.td_on_image {background-color:#F2F2F2}
.td_off {font-size:14px;background-color:#fff}
.td_off_image {background-color:#fff}

